[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

button .material-icons {
  margin-top: 7px;
}

.category {
  margin-top: -9px;
}

filters md-input-container {
  margin-right: 10px;
}

.classified.ng-enter, .classified.ng-move {
  transition: 0.4s all;
  opacity: 0;
}

.classified.ng-enter.ng-enter-active, .classified.ng-move.ng-move-active {
  opacity: 1;
}

.classified.ng-leave {
  animation: 0.4s fade_classified;
}

@keyframes fade_classified {
  from { opacity: 1; }
  to { opacity: 0; }
} 